<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="{{ asset('asset/widget.css') }}">
</head>
<body>
	<h1>{{ hotel.name }} - Customer Alliance</h1>
	<p>Rate:<span id="average"></span></p>
	<ul id="reviews"></ul>
	<button id="load-more-reviews-btn">Load More</button>	

	<script type="text/javascript">
		var currentReviewPage = 1;

		document.getElementById('load-more-reviews-btn').addEventListener('click', function (event) {
			loadReviews()
		}, false);

		function ajaxReques(url, payload)
		{
			var xhr = new XMLHttpRequest();

			xhr.onload = function () {
				if (xhr.status >= 200 && xhr.status < 300) {
					response = JSON.parse(xhr.response)
					payload(response)
				} else {
					console.log('The request failed!');
				}
			};

			xhr.open('GET', url);
			xhr.setRequestHeader('Accept', 'application/json'); 
			xhr.send();
		}

		function renderReviewList(reviews)
		{
			var html = ''

			for (let i = 0; i < reviews.length; i++)
			{
				html += `<li>${reviews[i].score} - ${reviews[i].comment}</li>`
			}

			reviewList = document.getElementById('reviews')

			reviewList.innerHTML = reviewList.innerHTML + html;
		}

		function loadAverage()
		{
			ajaxReques('http://localhost/api/v1/hotels/{{ hotel.uuid }}/average', function(response){
				document.getElementById('average').textContent = response.average;
			})
		}

		function loadReviews(){
			ajaxReques('http://localhost/api/v1/hotels/{{ hotel.uuid }}/reviews?page=' + currentReviewPage, function(response){
				renderReviewList(response);
				currentReviewPage++;
			})	
		}

		loadAverage()
		loadReviews()			
	</script>
</body>
</html>